default_job = "s1"
env.CARGO_TERM_COLOR = "always"

[jobs.s1]
command = ["cargo", "run", "--", "d02s1"]
need_stdout = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["pkill", "-TERM", "-P"]
watch = ["src"]

[jobs.s2]
command = ["cargo", "run", "--", "d02s2"]
need_stdout = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["pkill", "-TERM", "-P"]
watch = ["src"]

[jobs.fmt]
command = ["cargo", "fmt"]
need_stdout = false
background = true
on_success = "back"

[keybindings]
1 = "job:s1"
2 = "job:s2"
f = "job:fmt"

