default_job = "run"
env.CARGO_TERM_COLOR = "always"

[jobs.run]
command = ["cargo run -- d00s1"]
need_stdout = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["pkill", "-TERM", "-P"]
watch = ["src"]

# You may define here keybindings that would be specific to
# a project, for example a shortcut to launch a specific job.
# Shortcuts to internal functions (scrolling, toggling, etc.)
# should go in your personal global prefs.toml file instead.
[keybindings]
Enter = "job:run"

